<footer class="bg-body-tertiary text-center mt-auto">
  <div class="container p-5">
    <div class="mb-4">
      <h3 class="fw-bolder fs-2 text-dark">Musafirkhana</h3>
      <p class="lead text-muted">Your journey begins here. Find a place to call home, wherever you roam.</p>
    </div>

    <div class="mb-4">
      <ul class="list-inline">
        <li class="list-inline-item mx-3"><a href="/listings" class="text-decoration-none text-secondary fw-semibold">All Listings</a></li>
        <li class="list-inline-item mx-3"><a href="/about" class="text-decoration-none text-secondary fw-semibold">About Us</a></li>
      <li class="list-inline-item mx-3">
  <a href="mailto:zeeshan10524@gmail.com?subject=Inquiry%20from%20Musafirkhana%20Website" class="text-decoration-none text-secondary fw-semibold">Contact</a>
</li> 
        <li class="list-inline-item mx-3"><a href="/faq" class="text-decoration-none text-secondary fw-semibold">FAQ</a></li>
      </ul>
    </div>
  </div>

  <div class="bg-light py-3">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 text-center text-md-start mb-2 mb-md-0">
          <span class="text-muted small">&copy; 2025 Musafirkhana. All Rights Reserved.</span>
        </div>
        <div class="col-md-6 text-center text-md-end">
          <a href="https://github.com/zee10524" class="btn btn-outline-secondary btn-sm rounded-circle mx-1" style="width: 38px; height: 38px;" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a>
          <a href="https://www.instagram.com/zeeeeeshaaan._/" class="btn btn-outline-secondary btn-sm rounded-circle mx-1" style="width: 38px; height: 38px;"  target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-instagram"></i></a>
          <a href="https://www.linkedin.com/in/mohammadzeeshanahmad-/" class="btn btn-outline-secondary btn-sm rounded-circle mx-1" style="width: 38px; height: 38px;" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>