<nav class="navbar navbar-expand-md navbar-light bg-white py-3 border-bottom shadow-sm sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="/listings">
      <img src="/MusaphirKhana.png" alt="Musafirkhana Logo" style="height: 3rem;" class="me-2">
      <span class="fw-bolder fs-4 text-dark">Musafirkhana</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link rounded-pill px-3 me-2" href="/listings">All Listings</a>
        <a class="nav-link rounded-pill px-3" href="/listings/new">Add Listing</a>
      </div>

      <div class="navbar-nav mx-auto">
        <form class="d-flex" role="search" action="/listings" method="GET">
          <input class="form-control me-2 rounded-pill" type="search" name="q" placeholder="Search destinations...">
          <button class="btn btn-primary rounded-circle" type="submit" style="width: 40px; height: 40px;">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
      </div>

      <div class="navbar-nav ms-auto d-flex align-items-center gap-3">
        <% if (!currUser) { %>
          <a class="nav-link fw-bold" href="/signup">Sign Up</a>
          <a class="btn btn-primary rounded-pill px-4" href="/login">Log In</a>
        <% } else { %>
          <a class="btn btn-outline-danger rounded-pill px-4" href="/logout">Log Out</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>